body {
    background-image: url('pic1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
    body {
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}
